<section class="inview">
  <div class="container-global mx-auto   ">
    <div class="row section-x ptr-200 pbr-120  align-middle  ">
      <div class="col-xs-12 col-sm-10 front-text mdmax:mb-42">

          <div class=" mb-24">
            <h1 class="fluid-4-r ">  
              {% call insert.splitenpalabras(title , '',10,10  ) %} {% endcall %}  
            </h1>
          </div>
    
      </div>
    </div>
  </div>
</section>