<div class="container-global mx-auto ptr-64">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="h1 c-primary">
        Soluciones Check
      </h3>
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-xs-12 col-sm-8">
  
      <div class="mb-32">
  
        <h6 class="h1 c-middle-grey"> Un producto para cada modelo de negocio</h6>
      </div>
  
    </div>
  
    <div class="col-xs-12 col-sm-4">
  
      <div class="mb-8 h3 mt-16 text-left sm:text-right"><a href="/soluciones/">Ver Soluciones</a></div>
    </div>
  </div>
</div>
<section class="qr-swiper  ptr-64 pbr-64 qr-swiper-32 inview ">




  <!-- Slider main container -->
  <div class="ov-hidden  entrada-lateral ">
    <div  data-text="Soluciones"  class="qr-swiper-32-container hoverable_link">
      <!-- Additional required wrapper -->
 
      <!-- Slides -->


      <div class="swiper-wrapper">
        <!-- Slides 
        {% for soluciones in collections.soluciones | reverse %}
        {% include 'soluciones/blog-loop-soluciones.njk' %}
        {% endfor %}
        Rest of the slides -->


        <div class="swiper-slide  ">

      
            <a class="slide-item-home" class="slide-item-home" href="/soluciones" title="soluciones">
          <div class="aspect-32 slide-link  border-24 zoom-img">
            <img width="100%" height="100%" src="/assets/static/images/home/home-soluciones-1.jpg" alt="qr pagado con teléfono" title="Códigos QR para pedir y pagar" >
          </div>
          <div class="" aria-label="slide carrousel">
              <div class="is-flex flex-column content-sp-between pt-24 pb-24">
                <div class="">
                  <p class="h2 mb-16">Códigos QR para pedir y pagar con QR </p>
                  <p class="p1">Desde el instante que el cliente escanea el código QR asignado a su mesa hasta el último paso del pago, cada etapa se ha diseñado para ofrecer comodidad
                    y rapidez. </p>
                </div>
              </div>
          </div>
        </a>
      </div>
      

      


      <div class="swiper-slide  ">

    
          <a class="slide-item-home" href="/google">
        <div class="aspect-32 slide-link  border-24 zoom-img">
          <img width="100%" height="100%" src="/assets/static/images/home/home-soluciones-2.jpg" alt="Google reviews" title="Check con google reviews" >
        </div>
        <div class="" aria-label="slide carrousel">
            <div class="is-flex flex-column content-sp-between pt-24 pb-24">
              <div class="">
                <p class="h2 mb-16">Check Google Reviews </p>
                <p class="p1">Consigue x10 veces reviews de 5 estrellas  </p>
              </div>
            </div>
        </div>
      </a>

    </div>
    

    


    <div class="swiper-slide  ">

      <a class="slide-item-home" href="/proyectos">
  
    <div class="aspect-32 slide-link  border-24 zoom-img">
      <img width="100%" height="100%" src="/assets/static/images/home/home-soluciones-3.jpg"  alt="Grandes proyectos" title="Qr para hostelería organizada">
    </div>
    <div class="" aria-label="slide carrousel">
  
        <div class="is-flex flex-column content-sp-between pt-24 pb-24">
          <div class="">
            <p class="h2 mb-16">Grandes Proyectos  </p>
            <p class="p1">Únicos a medida para hostelería organizada. </p>
          </div>
  
        </div>
    </div>
  
</a>
  </div>
  

  


  <div class="swiper-slide  ">

    <a class="slide-item-home" href="/loyalty">
  
    <div class="aspect-32 slide-link  border-24 zoom-img">
      <img width="100%" height="100%" src="/assets/static/images/home/home-soluciones-4.jpg"  alt="Grupo de personas en restaurante" title="Check loyalty fidelizando clientes">
    </div>
    <div class="" aria-label="slide carrousel">
  
        <div class="is-flex flex-column content-sp-between pt-24 pb-24">
          <div class="">
            <p class="h2 mb-16">Check Loyalty </p>
            <p class="p1">Fideliza a tus clientes para generar ventas recurrentes.</p>
          </div>
  
        </div>
    </div>
</a>

</div>





      </div>





      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      <!-- If we need scrollbar -->
    </div>
  </div>
</section>