@font-face {
  font-family: "font-light";
  src: url("/assets/fonts/atlas/font-light.woff") format("woff");
    font-display: swap;
}
@font-face {
  font-family: "font-regular";
  src: url("/assets/fonts/atlas/font-regular.woff") format("woff");
}

@font-face {
  font-family: "font-bold";
  src: url("/assets/fonts/atlas/font-bold.woff") format("woff");
    font-display: swap;
}


@font-face {
  font-family: "font-medium";
  src: url("/assets/fonts/atlas/font-semibold.woff") format("woff");
    font-display: swap;
    font-weight: 400;
}

