<section class="bg-color" >
  <div class="container-global mx-auto ptr-64 pbr-64   ">
    <div class="row  align-middle  ">
      <div class="col-xs-12 col-sm-6 front-text  align-middle">
        <div class=" ">
          <div class="vertical-wrap mb-24">
            <div class="vertical-inner">
              <h2 class="fluid-5-b mb-24  "> {{ whytitle1 | wrapWithDiv | safe }}</h2> 
              <h2 class="fluid-7-r mb-24  "> {{ whytitle2 | wrapWithDiv | safe }}</h2> 
              <h2 class="fluid-9-r  "> {{ whytitle3 | wrapWithDiv | safe }}</h2> 
            </div>
          </div>
  
  
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <img width="100%" src="/assets/static/images/fotomia.png" alt="">

      </div>

    </div>
  </div>
</section>