<section class="bg-color pbr-64 ptr-64">
  <div class="container-global mx-auto   ">
    <div class="row">
      <div class="col-xs-12  col-sm-4  flex-column is-flex  align-top text-center  mb-24">
        <div class="icon-wrapper align-center mb-16"> 
          <img src="/assets/static/images/icon.svg" alt="">
        </div>
        <div class="fluid-9-r c-dark-grey"><span class="bold">Optimización automática</span>  para conversiones: Ajusta continuamente elementos clave para maximizar la efectividad y el rendimiento de la página.</div>
      </div>
         <div class="col-xs-12  col-sm-4  flex-column is-flex  align-top text-center mb-24">
        <div class="icon-wrapper align-center mb-16">  <img src="/assets/static/images/icon.svg" alt=""> </div>
        <div class="fluid-9-r c-dark-grey"><span class="bold">Centrese en su negocio</span>, el resto está en buenas manos. Olvidese del hagaselo usted mismo. </div>
      </div>
         <div class="col-xs-12  col-sm-4  flex-column is-flex  align-top text-center  mb-24">
        <div class="icon-wrapper align-center mb-16">  <img src="/assets/static/images/icon.svg" alt=""> </div>
        <div class="fluid-9-r c-dark-grey"><span class="bold">Análisis predictivo</span>  para mejorar la experiencia del usuario: Utiliza datos y aprendizaje automático para anticipar necesidades del usuario, ofreciendo una experiencia más intuitiva y atractiva.</div>
      </div>
    </div>
  </div>
</section>