<section class="bg-color pbr-120 ">
  <div class="container-global mx-auto   ">
    <div class="row pb-64 pt-64 inview">
      <div class="col-xs-12">
        <div class="fluid-4-b c-dark-grey">
          
          
          {% call insert.splitenpalabras(global.benefit_description ) %} {% endcall %}

          
 
        </div>
      </div>
    </div>
    <div class="row pb-64">
      <div class="col-xs-12 col-sm-4 mb-20">
        {% call insert.comentario2( '...Santo cielo, esto es fantástico... Estoy realmente impresionado hasta ahora. Todos ustedes han construido algo especial aquí.' ,'','Manuel Ruiz ','Persona humana' ) %} {% endcall %}
      </div>
      <div class="col-xs-12 col-sm-4  mb-20">{% call insert.comentario2( '"Yo te monto lo del blog en dos horas, pero luego ya no se pa que lo quieres" ','','Dani Sanchez','Cripto bro' ) %} {% endcall %}
      </div>
      <div class="col-xs-12 col-sm-4  mb-20">{% call insert.comentario2( '"No entiendo una mierda de que va este proyecto, pero vamos a darles" ','','Jose Sketch','Hombre Serio' ) %} {% endcall %}
      </div>
    </div>


<div class="row">
  <div class="col-xs-12">
    <div class="grid-6 filter-grey">
      <img src="/assets/static/images/logos/logo-1.svg" alt="">
      <img src="/assets/static/images/logos/logo-2.svg" alt="">
      <img src="/assets/static/images/logos/logo-3.svg" alt="">
      <img src="/assets/static/images/logos/logo-4.svg" alt="">
      <img src="/assets/static/images/logos/logo-5.svg" alt="">
      <img src="/assets/static/images/logos/logo-6.svg" alt="">
      <img src="/assets/static/images/logos/logo-7.svg" alt="">
      <img src="/assets/static/images/logos/logo-8.svg" alt="">
      <img src="/assets/static/images/logos/logo-9.svg" alt="">
      <img src="/assets/static/images/logos/logo-10.svg" alt="">
      <img src="/assets/static/images/logos/logo-11.svg" alt="">
      <img src="/assets/static/images/logos/logo-12.svg" alt="">

    </div>
  </div>
</div>


  </div>
</section>