<section class="bg-color " >
<div class="container  pb-64">
  
      <div class="row    ">
        <div class="col-xs-12 col-sm-6 front-text  align-middle">
          <div class="wmax-450 mx-auto">
            <div class="fluid-5-b mb-24  "> {{ title | wrapWithDiv | safe }}</div>
            <div class="fluid-8-r  "> {{ title | wrapWithDiv | safe }}</div>
          </div>
      </div>
  
  
  
      <div class="col-xs-12 col-sm-6 front-text ">
        <img width="100%" src="/assets/static/images/fotomia.png" alt="">
      </div>



</div>

</section>