<section class="bg-color inview ">
  <div class="container  pb-64">
    <div class="row sm:reverse   ">
      <div class="col-xs-12 front-text mb-40  border-24">
        <img class="border-24" width="100%" src="/assets/static/images/dashboard.png" alt="">
      </div>
      <div class="col-xs-12  front-text  align-middle">
        <div class="fluid-6-b mb-24  ">
          {% call insert.splitenpalabras('**La **automatización **de **blogs permite gestionar tareas repetitivas
          automáticamente mediante software y configuraciones, facilitando la gestión del blog.
          ') %} {% endcall %}
        </div>
      </div>
    </div>
</section>