<section class="bg-color ">
  <div class="container-5 pb-64">

<div class="row">
  <div class="col-xs-12 text-center">
    <div class="fluid-5-r mb-24  "> {{ title | wrapWithDiv | safe }}</div>

  </div>
</div>


    <div class="row    ">
      <div class="col-xs-12 col-sm-4  align-middle sm:min-text-right mb-4 ">
        <div class="w-100 mb-16"><div class="h4">Pageinsights 100%</div> <div class="p1">Arquitectura web y código 100% perfecto y estable.
        </div>    </div>
         <div class="w-100 mb-16"><div class="h4">Optimización SEO</div> <div class="p1">Categorías y metaetiquetas optimizadas.
        </div>    </div>
         <div class="w-100 mb-16"><div class="h4">Landing perfecta</div> <div class="p1">Todo lo que debe tener una landing pero maximizado </div>    </div>
      </div>
      <div class="col-xs-12 col-sm-4  align-middle sm:order-last mb-40">
         <div class="w-100 mb-16"><div class="h4">Tráfico directo</div> <div class="p1">Atrae Más Tráfico a tu página web.
        </div>    </div>
         <div class="w-100 mb-16"><div class="h4">Expande tu marca</div> <div class="p1">Posiciona tu marca sin límites.</div>    </div>
         <div class="w-100 mb-16"><div class="h4">Creación de 404</div> <div class="p1">Creación dinámica de página 404.
        </div>    </div>
      </div>
      <div class="col-xs-12 col-sm-4  ">
        <img width="100%" src="/assets/static/images/pantalla.webp" alt="">
      </div>
    </div>
</section>