<footer class=" front-section  ">
  <div class="container-global mx-auto  pt-64 pb-20 ">
    <div class="row pbr-120">
      <div class="col-xs-12 col-md-2 mb-32">
jiras

      </div>
      <div class="col-xs-12 col-md-2">
      </div>
      <div class="col-xs-6 col-md-2">

      </div>


    </div>


  </div>
</footer>