
  <div class="container-global mx-auto ptr-64 pbr-64 ">
    <div class="row">
      <div class="col-xs-12 ">
        <h3 class="h1 mb-24  "> Beneficios para el empresario-hostelero:  </h3>
      </div>
    </div>
    <div class="row mb-32">
      <div class="col-xs-12 gap-16 is-flex section-btns">
        <button aria-label=" Mejora las operaciones "  id="btn-section-1" class="btn-outline btn-section btn is-active "> Mejora las operaciones </button>
        <button aria-label="  Retiene y motiva "  id="btn-section-2"  class="btn-outline btn-section btn "> Retiene y motiva </button>
        <button aria-label=" Atrae y fideliza"  id="btn-section-3"  class="btn-outline btn-section btn "> Atrae y fideliza </button>
        <button aria-label="  Gana control "  id="btn-section-4"  class="btn-outline btn-section btn "> Gana control </button>
      </div>
    </div>
    <section id="section-1" class="section-feat mb-40 is-active">
      <div class="row    ">
        <div class="col-xs-12 col-sm-6 sm:order-last  ">
          {% image "why.png","alt","title","img-responsive" %}
        </div>
        <div class="col-xs-12">
          <h6 class="h6 mb-20">Mejora <span class="c-orange">las operaciones</span> </h6>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="row sm:mb-16">
            <div class="col-xs-12 col-sm-6 mb-16 sm:mb-0">
              <svg  class="mb-8" width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.4512 1.70898H16.7819M15.1166 1.70898V5.88554M15.1166 5.88554V19.3642H1C1 27.4469 7.26725 33.709 15 33.709C22.7328 33.709 29 27.48 29 19.7945C29 12.109 22.7328 5.88002 15.1221 5.88002L15.1166 5.88554ZM26.1967 5.88554L28.295 7.97105M27.2458 6.92829L24.5424 9.61519M8 12.8373L10.0983 14.9283M15.1166 29.5324V26.7517M8 26.7517L10.0983 24.6662M24.7978 19.3642H22M22 26.7517L19.8961 24.6662M22 12.8373L19.8961 14.9283"
                  stroke="#FE6D4E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <h6 class="h2 mb-16"> Tiempo es dinero</h6>
              <p class="p1">Ahorro 12 min/mesa reduciendo el tiempo del proceso de comandar y cobrar aumentando la
                rotación de mesa.</p>
            </div>
            <div class="col-xs-12 col-sm-6  mb-16 sm:mb-0">
              <svg class="mb-8"  width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4.66897 18.2304L29.6897 2.2447M29.6897 2.2447L29.1379 7.06613M29.6897 2.2447L24.7241 1.70898M1 31.709H33M3.2069 27.4233H7.62069V31.709H3.2069V27.4233ZM10.931 22.0661H15.3448V31.709H10.931V22.0661ZM18.6552 16.709H23.069V31.709H18.6552V16.709ZM26.3793 11.3518H30.7931V31.709H26.3793V11.3518Z"
                  stroke="#FE6D4E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <h6 class="h2 mb-16">Rápido y sencillo para que el cliente pida más</h6>
              <p class="p1">Al facilitar el proceso de venta, aumenta la repetición de compra. </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6  mb-16 sm:mb-0">
              <svg  class="mb-8"  width="24" height="35" viewBox="0 0 24 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M5.1635 9.42116H16.257M5.1635 13.8281H10.7075M5.1635 18.2351H10.7075M5.1635 22.642H9.3215M16.95 25.3743V27.049M16.95 15.4807V17.0397M16.95 17.0397C15.8005 17.0397 14.871 17.9706 14.871 19.122C14.871 20.2733 15.8005 21.2043 16.95 21.2043C18.0995 21.2043 19.029 22.1352 19.029 23.2865C19.029 24.4379 18.0995 25.3688 16.95 25.3688C15.8005 25.3688 14.871 24.4379 14.871 23.2865M16.95 17.0397C18.0995 17.0397 19.029 17.9706 19.029 19.122M1 33.709L3.75 30.9051L6.5495 33.709L9.25 30.9051L12 33.6594L14.75 30.9051L17.5 33.6594L20.25 30.9051L23 33.709V1.75856L20.25 4.46333L17.5 1.70898L14.75 4.46333L12 1.70898L9.25 4.46333L6.5 1.70898L3.75 4.46333L1 1.75856V33.709Z"
                  stroke="#FE6D4E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <h6 class="h2 mb-16">Incrementa el Ticket medio</h6>
              <p class="p1">+5% en todos nuestros clientes y hasta un 30% en los mejores restaurantes. </p>
            </div>
            <div class="col-xs-12 col-sm-6  mb-16 sm:mb-0">
              <svg class="mb-8"  width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4.91552 10.1866L7.52241 12.7935L14.0448 6.27623M4.91552 22.5797L7.52241 25.1866L14.0448 18.6642M16.6517 12.1417H27.0845M16.6517 23.4331H27.0845M1 1.70898H31V31.709H1V1.70898Z"
                  stroke="#FE6D4E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <h6 class="h2 mb-16">Optimización de estructura </h6>
              <p class="p1">Faltan 50.000 camareros y ya se habla de 80.000. Con Check, cada camarero podrá atender un
                número mayor de clientes cada servicio. </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="section-2" class="section-feat mb-40  ">
      <div class="row">
        <div class="col-xs-12">
          <h6 class="h6 mb-20">Retiene y motiva <span class="c-orange">a tu equipo </span> </h6>
        </div>
        <div class="col-xs-12 col-sm-4 mb-24 sm:mb-0">
          <div class="aspect-54 bg-dark border-24 p-24 is-flex align-bottom o-hidden  gradient">
            <div class="fluid-7-l c-white z-20 ">Recupera las propinas con tarjeta para incentivar al equipo. </div>
            {% image "home/seccion3-a.jpg","alt","title"," video-cover " %}
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 mb-24 sm:mb-0">
          <div class="aspect-54 bg-dark border-24 p-24 is-flex align-bottom  o-hidden  gradient">
            {% image "home/seccion3-b.jpg","alt","title"," video-cover " %}
            <div class="fluid-7-l c-white z-20 ">Al aumentar la productividad por camarero, menos, es más.</div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 mb-24 sm:mb-0">
          <div class="aspect-54 bg-dark border-24 p-24 is-flex align-bottom  o-hidden  gradient">
            {% image "home/seccion3-c.jpg","alt","title"," video-cover " %}
            <div class="fluid-7-l c-white z-20 ">Identifica las buenas reseñas para felicitar al equipo y las malas para
              mejorar. </div>
          </div>
        </div>
      </div>
    </section>
    <section id="section-3" class="section-feat mb-40">
      <div class="row">
        <div class="col-xs-12">
          <h6 class="h6 mb-20">Atrae y fideliza <span class="c-orange">mejor a tus clientes</span> </h6>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 mb-24 sm:mb-0">
    
            <div class="fluid-7-l c-white z-20 ">Seguimiento de la facturación en remoto en tu móvil.</div>
            {% image "home/seccion1-a.png","alt","title"," img-natural " %}



        </div>
        <div class="col-xs-12 col-sm-6 mb-24 sm:mb-0">
    
            {% image "home/seccion1-b.png","alt","title"," img-natural " %}
     
        </div>
      </div>
    </section>
    <section id="section-4" class="section-feat ">
      <div class="row">
        <div class="col-xs-12">
          <h6 class="h6 mb-20">Gana control <span class="c-blue">sobre tu negocio en tiempo real </span> </h6>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 mb-24 sm:mb-0">
          <div class="aspect-21 bg-dark border-24 p-24 is-flex align-bottom o-hidden gradient ">
            <div class="fluid-7-l c-white z-20 ">Seguimiento de la facturación en remoto en tu móvil.</div>
            {% image "home/seccion2-a.jpg","seguimiento móvil","title"," video-cover " %}
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 mb-24 sm:mb-0">
          <div class="aspect-21 bg-dark border-24 p-24 is-flex align-bottom o-hidden gradient ">
            <div class="fluid-7-l c-white z-20 ">Configuración de métricas y KPIs clave para tomar decisiones rápidas e
              inteligentes con
              el Panel BI de Check. </div>
            {% image "home/seccion2-b.jpg","kpi","configuracion kpi"," video-cover " %}
          </div>
        </div>
      </div>
    </section>
  </div>


  <script>
document.addEventListener('DOMContentLoaded', function() {
    const buttons = document.querySelectorAll('.btn-section');
    const sections = document.querySelectorAll('section');

    buttons.forEach(button => {
        button.addEventListener('click', function() {
            // Extrae el número del ID del botón
            const sectionNumber = this.id.split('-')[2];
            const activeSection = document.getElementById('section-' + sectionNumber);

            // Remueve la clase 'is-active' de todos los botones y secciones
            buttons.forEach(btn => {
                btn.classList.remove('is-active');
            });
            sections.forEach(section => {
                section.classList.remove('is-active');
            });

            // Añade la clase 'is-active' al botón actual y a la sección correspondiente
            this.classList.add('is-active');
            activeSection.classList.add('is-active');
        });
    });
});
  </script>