<section >
  <div class="container-especial mx-auto ptr-64 pbr-64 inview   ">
    <div class="row  align-middle  ">
      <div class="col-xs-12">

        <div class="vertical-wrap ">
          <div class="vertical-inner delay-1">
            <h2 class="fluid-xxl ">EL PLACER <div class="minibox-r bg-orange"> <img src=" /assets/static/images/icons/{{iconmini1 }}  " alt="">    </div> </h2>
          </div>
        </div>


    
      </div>
      <div class="col-xs-12 col-md-4 order-last align-middle mdmax:order-last mt-24  md:mt-0">
        <p class="h2 sm:pl-16">Check es una solución para que el cliente pida y pague directamente desde cualquier QR ubicado en
          el local sin necesidad de registrarse o descargarse nada. </p>
      </div>
      <div class="col-xs-8 md:min-text-right">

        <div class="vertical-wrap ">
          <div class="vertical-inner delay-2">
            <h2 class="fluid-xl ">DE NO </h2>
          </div>
        </div>



      </div>
      <div class="col-xs-12">
        <div class="vertical-wrap ">
          <div class="vertical-inner delay-3">
            <h2 class="fluid-xl ">ESPERAR <div class="minibox-r bg-blue"> <img src=" /assets/static/images/icons/{{iconmini2 }}  " alt="">   </div>  </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>