---
layout: base.njk
---
{% import "macros/_insert.njk" as insert %}
{% include 'templates/qr-herofull.njk' %}
{% include 'components/qr-herosub.njk' %}
<div class="container-5  pbr-64 inview animated-counter-w">
    <div class="row">
        <div class="col-xs-12 col-sm-6"></div>
        <div class="col-xs-12 col-sm-6">
            <p class="h2 mb-32">
                Facilitamos transacciones seguras, simples y accesibles para todos, brindado la mejor experiencia
                posible a
                todos nuestros usuarios cada día.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="aspect-54 mb-32 sm:0  gradient border-24 p-relative o-hidden align-middle appear  ">
                <div class="rat-content align-center p-40">
                    {# <img class="video-cover" width="100%" height="100%" src=" {{ image }}" alt="{{ imageAlt }}" /> #}
                    <div class="p-relative c-white  z-10">
                        <div class="fluid-2-r c-white">
                            <div class="animated-counter1">9600 </div>
                        </div>
                        <p class="p5">Horas ahorradas al sector horeca en 2023 </p>
                    </div>
     

                        {% image "about/contador-1.jpg","horas ahorradas","title"," video-cover" %}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 ptr-120">
            <div class="aspect-54 gradient border-24 p-relative o-hidden align-middle appear delay-500 ">
                <div class="rat-content align-center p-40">
                    {# <img class="video-cover" width="100%" height="100%" src=" {{ image }}" alt="{{ imageAlt }}" /> #}
                    <div class="p-relative c-white  z-10">
                        <div class="fluid-2-r ">
                            <div class="animated-counter2">9700 </div>
                        </div>
                        <p class="p5">Horas ahorradas a los comensales
                            de media en 2023</p>
                    </div>
       

                        {% image "about/contador-2.jpg","horas ahorradas en comensales","title"," video-cover" %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-3 ptr-64 pbr-64">
    <div class="row pbr-64">
        <div class="col-xs-12">
            <h6 class="h4 mb-24 c-orange"> NUESTRA FÓRMULA </h6>
            <div class="fluid-5-r">
                La fórmula de Check es digitalizar con sentido, uniendo producto + personas.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6"></div>
        <div class="col-xs-12 col-sm-6">
            <div class="h2">
                Un producto innovador con una tecnología superior es la fórmula perfecta para  que el sector Horeca capitalice  los beneficios de la digitalización.
            </div>
        </div>
    </div>
</div>
<div class="container-global mx-auto ptr-120 pbr-120">
    <div class="row mb-64">
        <div class="col-xs-12">
            <div class="h1">En Check hacemos </div>
            <div class="h1 c-blue">muy bien 3 cosas:</div>
        </div>
    </div>
    <div class="row inview">
        <div class="col-xs-12 col-md-4 text-center mb-24 appear ">
            {% call insert.imgtext( 'about/about-1.jpg', 'Dar soluciones adaptadas a las necesidades únicas y exclusivas de nuestros clientes. Nos adaptamos a cada casuística. ','', '', '', '11','' ) %} {% endcall %}
        </div>
        <div class="col-xs-12 col-md-4 text-center mb-24 appear delay-250">
            {% call insert.imgtext( 'about/about-2.jpg', 'Digitalizar con sentido ','', '', '', '11','' ) %} {% endcall %}
        </div>
        <div class="col-xs-12 col-md-4 text-center appear delay-500">
            {% call insert.imgtext( 'about/about-3.jpg', 'Dar un servicio excelente world-class a nuestros clientes, que esté a la altura de la excelencia que demandan los mejores negocios. ','', '', '', '11','' ) %} {% endcall %}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row height-xl bg-dark parallax inview"  
        style="background-image: url( /assets/static/images/about/mission.jpg);">

    </div>
</div>
<div class="container-global mx-auto ptr-64 pbr-120">
<div class="row">

    <div class="col-xs-12 col-sm-1"></div>
    <div class="col-xs-12 col-sm-4 mb-32 sm:mb-0"> 
    <h4 class="h6 mb-24 c-orange">NUESTRA MISIÓN</h4>

</div>
</div>


    <div class="row ">
        <div class="col-xs-12 col-sm-1"></div>
        <div class="col-xs-12 col-sm-4 mb-32 sm:mb-0">
            <div class="">

                <div class="h2">Imagina un mundo donde puedes dedicar más tiempo a las cosas que realmente importan.
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-1"></div>
        <div class="col-xs-12 col-sm-6">
            <p class="p1">Con Check, hemos simplificado el proceso de pago mediante un código QR. En tan solo 10
                segundos, tus clientes pueden escanear, dividir la cuenta, realizar el pago y dejar propina. Es rápido,
                eficiente y te permite recuperar ese tiempo muy valioso que mejora la rentabilidad de tu punto de venta.

                <br> <br>
                Nuestra misión es devolver a las personas la posibilidad de disfrutar de su tiempo al máximo. Ya no
                tendrás que preocuparte por que tus clientes tengan que esperar a ser atendidos o a que les traigan la
                cuenta. Con Check, la rapidez y la comodidad son la clave.</p>
        </div>
    </div>
</div>
<div class="container-global mx-auto ptr-120 pbr-120 inview">
    <div class="row ">
        <div class="col-xs-12"></div>
        <div class="col-xs-12 col-sm-1"></div>
        <div class="col-xs-12 col-sm-4 mb-32 sm:mb-0 align-middle appear ">
            <div class="">
                <h6 class="h6 mb-32 c-orange">NUESTRA HISTORIA</h6>
                <div class="h2 mb-16">Cómo nace Check</div>
                <p class="p1">
                    El proyecto nace tras haber identificado que los negocios en el sector horeca se enfrentan a dos
                    problemas que hasta ahora no se han abordado: falta de personal cualificado y merma de la
                    rentabilidad anual por el incremento de costes. En lugar de ver problemas, Check ve una oportunidad
                    única para adaptar el proceso de venta a los nuevos patrones de consumo con tecnología.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-1"></div>
        <div class="col-xs-12 col-sm-6 mb-32 sm:mb-0 appear delay-250">
            <div class="aspect-32 align-center">

                <div class="hero__button action action--hidden action--play text-14-b" data-src="https://res.cloudinary.com/manuel-ruiz/video/upload/v1713085833/Check_-_Pide_y_Paga_por_QR_desde_la_mesa_sz2cn4.mp4">
       
          



                    <div class="rat-content">
                        {# <img class="video-cover" width="100%" height="100%" src=" {{ image }}" alt="{{ imageAlt }}" /> #}
                        <div>
                            <img class="p-relative border-24  z-20" src="/assets/static/images/play.png" alt="">
                        </div>
                        <img class="video-cover border-24" width="" height="" src="/assets/static/images/about/historia.jpg"
                            alt="">
                    </div>
          
            </div>
            </div>
        </div>
    </div>
</div>
<div class="container-global mx-auto">
    <div class="row">
        <div class="col-xs-12 col-sm-1"></div>
        <div class="col-xs-12 col-md-4 mb-40">
            <div class=" sticky-title">
                <h5 class="h2 c-orange ">NUESTROS PILARES</h5>
            </div>
        </div>
        <div class="col-xs-12 col-md-7">
            {% call insert.imgtextlist( 'about/miniabout-1.jpg', 'Tecnología accesible para todos: fácil y sencillo ','Desde restaurantes de comida rápida hasta establecimientos con estrellas Michelin, nuestro producto se adapta a todas las cocinas y a todos los paladares.' ) %} {% endcall %}
            {% call insert.imgtextlist( 'about/miniabout-2.jpg', 'Flexibilidad: nos adaptamos a cualquier modelo de negocio Horeca.','Check es versátil y está diseñado para satisfacer desde parques temáticos, restauración, hoteles u eventos temporales como Oktoberfest. Somos la opción que se ajusta a la singularidad de tu negocio.', '' ) %} {% endcall %}
            {% call insert.imgtextlist( 'about/miniabout-3.jpg', 'Innovación sin barreras:','Lorem ipsum dolor sit amed consectetur', 'Check trasciende las barreras generacionales y tecnológicas. Desde los nativos digitales hasta las personas mayores más sabias, nuestro producto es intuitivo y fácil de manejar para todos. Ponemos la innovación al alcance de todos.' ) %} {% endcall %}
        </div>
    </div>
</div>
<div class="container-global mx-auto ptr-120 pbr-120">
    <div class="row pbr-120">
        <div class="col-xs-12 col-sm-1"></div>
        <div class="col-xs-11">
            <h4 class="h6 mb-24 c-orange"> QUÉ HACEMOS</h4>
            <div class="fluid-5-r">
                Check es la respuesta diferenciada que los mejores establecimientos necesitan. </div>
            <a href="#contactazone"  title="contacta con duttijiras"><button aria-label="Solicita una demo " class="btn btn-primary mt-64"> Solicita una demo </button></a>
        </div>
    </div>
</div>
{% include "../templates/qr-contacta.njk" %}



<div class="video-wrap">
    <div class="video-inner">
      <!-- Video -->
      <video class="video-player" src="" poster="/assets/static/images/about/videoplaceholder.jpg"  preload="auto" controls>
        <source src="" type="video/mp4" />
        <p>Sorry, but your browser does not support this video format.</p>
      </video>
      <!-- Close button -->
      <button class="btn action action--close" aria-label="Cerrar ventana">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px"
          height="24px" viewBox="0 0 24 24">
          <g stroke-width="1" transform="translate(0.5, 0.5)">
            <line fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="square" stroke-miterlimit="10" x1="19"
              y1="5" x2="5" y2="19" stroke-linejoin="miter">
            </line>
            <line fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="square" stroke-miterlimit="10" x1="19"
              y1="19" x2="5" y2="5" stroke-linejoin="miter">
            </line>
          </g>
        </svg>
      </button>
    </div>
  </div>