---
layout: base.njk
---
{% import "macros/_insert.njk" as insert %}
{% include 'templates/qr-herofull.njk' %}



{% include 'components/qr-herosub.njk' %}





<div class="container-global mx-auto ptr-120 pbr-64 inview ">
    <div class="row mb-64">
        <div class="col-xs-12">
            <h5 class="h1 ">Nuestros <br> <span class="c-blue">principales clientes </span> </h5>
        </div>
    </div>

    <div class="row appear ">
        <div class="col-xs-12">
            <div class="grid-3  smmax:grid-1 ">
                <div class="bg-light aspect-32 border-24 align-center logo-box"> <img width="100%" src="/assets/static/images/logos/ilunion.svg" alt="">  </div>
                <div class="bg-light aspect-32 border-24 align-center logo-box"><img width="100%" src="/assets/static/images/logos/orenes.svg" alt=""> </div>
                <div class="bg-light aspect-32 border-24 align-center logo-box"><img width="100%" src="/assets/static/images/logos/pauseandplay.svg" alt=""> </div>
                <div class="bg-light aspect-32 border-24 align-center logo-box"><img width="100%" src="/assets/static/images/logos/benandjerrys.svg" alt=""> </div>
                <div class="bg-light aspect-32 border-24 align-center logo-box"><img width="100%" src="/assets/static/images/logos/basqueculinarycenter.svg" alt=""> </div>
                <div class="bg-light aspect-32 border-24 align-center logo-box"><img width="100%" src="/assets/static/images/logos/bdp.svg" alt=""> </div>
                <div class="bg-light aspect-32 border-24 align-center logo-box"><img width="100%" src="/assets/static/images/logos/gordoyflaco.svg" alt=""> </div>
                <div class="bg-light aspect-32 border-24 align-center logo-box"><img width="100%" src="/assets/static/images/logos/boka.svg" alt=""> </div>
                <div class="bg-light aspect-32 border-24 align-center logo-box"><img width="100%" src="/assets/static/images/logos/lamburguesa.svg" alt=""> </div>
                <div class="bg-light aspect-32 border-24 align-center logo-box"><img width="100%" src="/assets/static/images/logos/moflete.svg" alt=""> </div>
            </div>
        </div>
    </div>
</div>

<div class="container-global mx-auto ptr-64 pbr-64 inview">
    <div class="row mb-64">
        <div class="col-xs-12">
            <h5 class="h1">Nuestros Partners  </h5>
        </div>
    </div>

    <div class="row ">
        <div class="col-xs-12">
            <div class="grid-4  smmax:grid-1 ">
                <div class="bg-light aspect-32 border-24 align-center logo-box"> <img width="100%" src="/assets/static/images/logos/heineken.svg" alt=""> </div>
                <div class="bg-light aspect-32 border-24 align-center logo-box"> <img width="100%" src="/assets/static/images/logos/cocacola.svg" alt="">  </div>
                <div class="bg-light aspect-32 border-24 align-center logo-box"> <img width="100%" src="/assets/static/images/logos/unilever.svg" alt=""> </div>
                <div class="bg-light aspect-32 border-24 align-center logo-box"> <img width="100%" src="/assets/static/images/logos/esma.svg" alt=""> </div>
     


            </div>
        </div>
    </div>
</div>


<div class="container-global mx-auto ptr-64 pbr-64 ">
    <div class="row mb-64">
        <div class="col-xs-12">
            <h5 class="h1">Nuestros Partners <br> <span class="c-orange" > Con integración directa </span > </h5>
        </div>
    </div>

    <div class="row ">
        <div class="col-xs-12">
            <div class="grid-4  smmax:grid-1 ">
                <div class="bg-light aspect-32 border-24 align-center logo-box"> <img width="100%" src="/assets/static/images/logos/agora.svg" alt=""> </div>
                <div class="bg-light aspect-32 border-24 align-center logo-box"> <img width="100%" src="/assets/static/images/logos/revo.svg" alt="">  </div>
                <div class="bg-light aspect-32 border-24 align-center logo-box"> <img width="100%" src="/assets/static/images/logos/icg.svg" alt=""> </div>
                <div class="bg-light aspect-32 border-24 align-center logo-box"> <img width="100%" src="/assets/static/images/logos/oracle.svg" alt=""> </div>
                <div class="bg-light aspect-32 border-24 align-center logo-box"> <img width="100%" src="/assets/static/images/logos/hosteltactil.svg" alt=""> </div>
                <div class="bg-light aspect-32 border-24 align-center logo-box"> <img width="100%" src="/assets/static/images/logos/numier.svg" alt=""> </div>

                <div class="bg-light aspect-32 border-24 align-center logo-box"> <img width="100%" src="/assets/static/images/logos/lastapp.svg" alt=""> </div>
                <div class="bg-light aspect-32 border-24 align-center logo-box"> <img width="100%" src="/assets/static/images/logos/codisys.svg" alt=""> </div>
                <div class="bg-light aspect-32 border-24 align-center logo-box"> <img width="100%" src="/assets/static/images/logos/square.svg" alt=""> </div>
                <div class="bg-light aspect-32 border-24 align-center logo-box"> <img width="100%" src="/assets/static/images/logos/stripe.svg" alt=""> </div>
                <div class="bg-light aspect-32 border-24 align-center logo-box"> <img width="100%" src="/assets/static/images/logos/sinqro.svg" alt=""> </div>

                <div class="bg-light aspect-32 border-24 align-center logo-box"> <img width="100%" src="/assets/static/images/logos/deliverect.svg" alt=""> </div>


            </div>
        </div>
    </div>
</div>




{% include "../components/qr-swiper-34.njk" %}




{% include "../templates/qr-contacta.njk" %}