<li>
  <a class="w-100" href="{{ soluciones.url }}">
    <div class="mb-24">
      <div>
        <div class="aspect-32 mb-16 p-relative">

            <img class="video-cover" width="100%"  src="{{soluciones.data.image }}"
              alt="{{soluciones.data.imageAlt }}" title="{{ soluciones.data.imageAlt | replace('.jpg', '') }}">
        
        </div>
        <div class="pb-64">
          <p class="h3 mb-16">12/02/2023</p>
          <p class="p5">Lamburguesa ipsum dolor sit amet consectetur. Sit ut adipiscing faucibus blandit</p>
        </div>
      </div>
  </a>
</li>