<div class="swiper-slide  ">

    <a href="{{ soluciones.url }}" title="{{soluciones.data.title}}" arial-label="{{soluciones.data.title}}">
  <div class="aspect-32 slide-link  border-24 zoom-img">
    <img width="100%" height="100%" src="{{ soluciones.data.image }}" alt="{{ soluciones.data.imageAlt }}">
  </div>
  <div class="" aria-label="slide carrousel">

      <div class="is-flex flex-column content-sp-between pt-24 pb-24">
        <div class="">
          <p class="h2 mb-16">Lorem ipsum dolor sit amet</p>
          <p class="p1">Lorem ipsum dolor sit amet consectetur. Malesuada gravida urna luctus. Quisque at est efficitur, varius ligula vel, semper tortor.</p>
        </div>

      </div>
  </div>
  </a>
</div>



