---
permalink: /site.webmanifest
eleventyExcludeFromCollections: true
---
{
  "name": "https://{{global.url}}",
  "short_name": "{{global.empresa}}",
  "icons": [
    { "src": "assets/static/favicons/favicon32x32.webp", "sizes": "192x192", "type": "image/png" },
    { "src": "assets/static/favicons/", "sizes": "512x512", "type": "image/png" }
  ],
  "theme_color": "{{global.c_white}}",
  "background_color": "{{global.bg_light}}",
  "display": "standalone"
} 